<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Search and Update Data</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

    <body class="purple-theme">

    

        <h2>Search and Update Data</h2>



        <div class="form-container">

            <form action="/creditcard" method="post">

                <label for="card_id">Card ID:</label>

                <input type="text" id="card_id" name="card_id" placeholder="Masukkan card ID">

                <input type="submit" value="Search" class="update-button" >

            </form>

            <a href="/" class="home-button yellow-button">Kembali ke Home</a>

        </div>

        {% if data_list %}

        <h3>Data Found:</h3>
        
        <table>
                <tr>
                    <th>Card ID</th>
                    <th>Customer ID</th>
                    <th>Limit</th>
                    <th>Balance</th>
                    <th>Interest Rate</th>
                </tr>
                {% for data in data_list %}
                <tr>
                    <td>{{ data.card_id }}</td>
                    <td>{{ data.customer_id }}</td>
                    <td>{{ data.limit }}</td>
                    <td>{{ data.balance }}</td>
                    <td>{{ data.interest_rate }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    

    {% else %}
    <p>Tidak ada data yang ditemukan untuk customer ID yang diberikan. </p>
    {% endif %}
    </body>

</html>